- (defined? path) ? path = path  : ""
= path ? "<h2 style='padding-top:20px;text-align:center '>GroupDocs .NET Annotation</h2>" : "<div style='padding:20px;'>Please go to the <a href='/'>home</a> page and enter the server url</div>"
%head
  %script{:type=>"text/javascript", :src=>"#{path}/Scripts/jquery-1.10.2.min.js"}
  %script{:type=>"text/javascript", :src=>"#{path}/Scripts/jquery-ui-1.10.3.min.js"}
  %script{:type=>"text/javascript", :src=>"#{path}/document-viewer/GetScript#{handler}?name=libs/jquery-1.9.1.min.js"}
  %script{:type=>"text/javascript", :src=>"#{path}/document-viewer/GetScript#{handler}?name=libs/jquery-ui-1.10.3.min.js"}
  %script{:type=>"text/javascript", :src=>"#{path}/document-viewer/GetScript#{handler}?name=libs/knockout-2.2.1.js"}
  %script{:type=>"text/javascript", :src=>"#{path}/document-viewer/GetScript#{handler}?name=libs/turn.min.js"}
  %script{:type=>"text/javascript", :src=>"#{path}/document-viewer/GetScript#{handler}?name=libs/modernizr.2.6.2.Transform2d.min.js"}
  :javascript
    if (!window.Modernizr.csstransforms)   $.ajax({url: "#{path}/document-viewer/GetScript#{handler}?name=libs/turn.html4.min.js", dataType: 'script', type: 'GET', async: false});
  %script{:type=>"text/javascript", :src=>"#{path}/document-viewer/GetScript#{handler}?name=installableViewer.min.js"}
  :javascript
    $.ui.groupdocsViewer.prototype.applicationPath = "#{path}/";
    $.ui.groupdocsViewer.prototype.useHttpHandlers = false;
  %script{:type=>"text/javascript", :src=>"#{path}/document-viewer/GetScript#{handler}?name=GroupdocsViewer.all.min.js"}

  %link{:rel=>"stylesheet", :type=>"text/css", :href=>"#{path}/document-viewer/CSS/GetCss?name=bootstrap.css"}
  %link{:rel=>"stylesheet", :type=>"text/css", :href=>"#{path}/document-viewer/CSS/GetCss?name=GroupdocsViewer.all.min.css"}
  %link{:rel=>"stylesheet", :type=>"text/css", :href=>"#{path}/document-viewer/CSS/GetCss?name=jquery-ui-1.10.3.dialog.min.css"}

  %script{:type=>"text/javascript", :src=>"#{path}/document-annotation/GetScript#{handler}?name=RaphaelJS/raphael-min.js"}
  %script{:type=>"text/javascript", :src=>"#{path}/document-annotation/GetScript#{handler}?name=libs/jquery.signalR-1.1.2.min.js"}
  %script{:type=>"text/javascript", :src=>"#{path}/document-annotation/GetScript#{handler}?name=libs/jquery.tinyscrollbar.min.js"}
  %script{:type=>"text/javascript", :src=>"#{path}/document-annotation/GetScript#{handler}?name=AnnotationService.js"}
  %script{:type=>"text/javascript", :src=>"#{path}/document-annotation/GetScript#{handler}?name=Annotation2.js"}
  %script{:type=>"text/javascript", :src=>"#{path}/document-annotation/GetScript#{handler}?name=AreaAnnotation.js"}
  %script{:type=>"text/javascript", :src=>"#{path}/document-annotation/GetScript#{handler}?name=PointAnnotation.js"}
  %script{:type=>"text/javascript", :src=>"#{path}/document-annotation/GetScript#{handler}?name=TextStrikeout.js"}
  %script{:type=>"text/javascript", :src=>"#{path}/document-annotation/GetScript#{handler}?name=PolylineAnnotation.js"}
  %script{:type=>"text/javascript", :src=>"#{path}/document-annotation/GetScript#{handler}?name=TextStrikeout.js"}
  %script{:type=>"text/javascript", :src=>"#{path}/document-annotation/GetScript#{handler}?name=TextField.js"}
  %script{:type=>"text/javascript", :src=>"#{path}/document-annotation/GetScript#{handler}?name=Watermark.js"}
  %script{:type=>"text/javascript", :src=>"#{path}/document-annotation/GetScript#{handler}?name=AnnotationWidget.js"}

  %link{:rel=>"stylesheet", :type=>"text/css", :href=>"#{path}/document-annotation/CSS/GetCss?name=Annotation.css"}
  %link{:rel=>"stylesheet", :type=>"text/css", :href=>"#{path}/document-annotation/CSS/GetCss?name=Toolbox.css"}
  %script{:type=>"text/javascript", :src=>"#{path}/signalr1_1_2/hubs"}

%body
:javascript
  var userName = "#{userName}";
  $.ajax({
      type: "POST",
      url: "#{path}/home/getId",
      data: "un=" + userName,
      success: function (userId){
          var annotationWidget = $('#annotation-widget').groupdocsAnnotation({
              width: 600,
              height: 800,
              fileId: 'Quick_Start_Guide_To_Using_GroupDocs.pdf',
              docViewerId: 'annotation-widget-doc-viewer',
              quality: 90,
              enableRightClickMenu: false,
              showZoom: true,
              showPaging: true,
              showPrint: false,
              showFileExplorer: false,
              showThumbnails: true,
              openThumbnails: false,
              zoomToFitWidth: false,
              zoomToFitHeight: false,
              initialZoom: 100,
              preloadPagesCount: 0,
              sideboarContainerSelector: 'div.comments_sidebar_wrapper',
              usePageNumberInUrlHash: false,
              textSelectionSynchronousCalculation: true,
              variableHeightPageSupport: true,
              useJavaScriptDocumentDescription: true,
              isRightPanelEnabled: true,
              createMarkup: true,
              use_pdf: 'true',
              _mode: 'annotatedDocument',
              selectionContainerSelector: "[name='selection-content']",
              graphicsContainerSelector: '.annotationsContainer',
              userName: "#{userName}",
              userId: userId
          });
          var annotationsViewer = $(annotationWidget).groupdocsAnnotation('getViewer');
          var annotationsViewerVM = $(annotationsViewer).groupdocsAnnotationViewer('getViewModel');
          var commentModePanel = $(annotationWidget).find('div.embed_annotation_tools');
          commentModePanel.css('margin-right', 0);
          commentModePanel.draggable({
              scroll: false,
              handle: '.tools_dots',
              containment: 'body',
              appendTo: 'body'
          });
          $(annotationWidget).find('.tool_field').click(function () {
              var toolFields = $(annotationWidget).find('.tool_field');
              if (toolFields.hasClass('active')) {
                  $(toolFields.removeClass('active'));
              };
              $(this).addClass('active');
          });
          $(annotationWidget).find('.header_tools_icon').hover(

              function () {
                  $(this).find('.tooltip_on_hover').css('display', 'block');
              },

              function () {
                  $(this).find('.tooltip_on_hover').css('display', 'none');
          });

          $('#annotation-widget .comments_togle_btn').click(function () { flipPanels(true); });
          $(annotationWidget).find('.comments_scroll').tinyscrollbar({ sizethumb: 50 });
          $(annotationWidget).find('.comments_scroll_2').tinyscrollbar({ sizethumb: 50 });
          var annotationIconsWrapper = $(annotationWidget).find('.annotation_icons_wrapper');
          var annotationIconsWrapperParent = annotationIconsWrapper.parent()[0];
          var annotationIconsWrapperParentScrollTop;
          annotationsViewer.bind('onDocumentLoadComplete', function (e, data) {
              annotationsViewerVM.listAnnotations();
              annotationsViewerVM.setHandToolMode();
              annotationIconsWrapper.height($(annotationsViewer).find('.pages_container').height());
              annotationIconsWrapperParent.scrollTop = annotationIconsWrapperParentScrollTop;
          });
          annotationsViewer.bind('onDocViewScrollPositionSet', function (e, data) {
              annotationIconsWrapper.parent()[0].scrollTop = data.position;
          }.bind(this));
          annotationsViewer.bind('onBeforeScrollDocView onDocViewScrollPositionSet', function (e, data) {
              if (annotationIconsWrapperParent.scrollTop != data.position) {
                  annotationIconsWrapperParent.scrollTop = data.position;
                  annotationIconsWrapperParentScrollTop = data.position;
              }
          }.bind(this));

          function flipPanels(togglePanels) {
              var docViewer = $(annotationsViewer)[0];
              var annotationIconsPanelVisible = $(annotationWidget).find('.comments_sidebar_collapsed').is(':visible');
              function setIconsPanelScrollTop() {
                  if (!annotationIconsPanelVisible)
                  annotationIconsWrapperParent.scrollTop = docViewer.scrollTop;
              }

              function redrawLinesAndCalculateZoom() {
              setIconsPanelScrollTop();
                  if (togglePanels) {
                      annotationsViewerVM.redrawConnectingLines(!annotationIconsPanelVisible);
                  } else {
                  annotationsViewerVM.resizePagesToWindowSize();
                      var selectableElement = annotationsViewerVM.getSelectable();
                      if (selectableElement != null) {
                          var selectable = (selectableElement.data('ui-dvselectable') || selectableElement.data('dvselectable'));
                          selectable.initStorage();
                      }

                  annotationsViewerVM.redrawWorkingArea();
                  }
              }

              if (togglePanels) {
                  if (!annotationIconsPanelVisible) {
                      redrawLinesAndCalculateZoom();
                  }
                  var setIntervalId = window.setInterval(function () {
                      setIconsPanelScrollTop();
                  }, 50);
                  $(annotationWidget).find('.comments_sidebar_collapsed').toggle('slide', { direction: 'right' }, 400, function () {
                      clearInterval(setIntervalId);
                      setIconsPanelScrollTop();
                  });
                  $(annotationWidget).find('.comments_sidebar_expanded').toggle('slide', { direction: 'right' }, 400,

                  function () {
                      if (annotationIconsPanelVisible)
                          redrawLinesAndCalculateZoom();
                      else
                          setIconsPanelScrollTop();
                          //window.setZoomWhenTogglePanel();
                      });

              } else {
                  redrawLinesAndCalculateZoom();
                  $(annotationWidget).find('.comments_scroll').tinyscrollbar_update('relative');
                  $(annotationWidget).find('.comments_scroll_2').tinyscrollbar_update('relative');
              }
          }

          $(window).resize(function () {
              flipPanels(false);
              resizeSidebar();
          });
          resizeSidebar();

          function resizeSidebar() {
              var containerHeight = $('#annotation-widget .doc_viewer').height();
              $(annotationWidget).find('.comments_content').css({ 'height': (containerHeight - 152) + 'px' });
              $(annotationWidget).find('.comments_scroll').css({ 'height': (containerHeight - 152) + 'px' });
              $(annotationWidget).find('.comments_scroll .viewport').css({ 'height': (containerHeight - 172) + 'px' });
              $(annotationWidget).find('.comments_sidebar_collapsed').css({ 'height': (containerHeight - 50) + 'px' });
              $(annotationWidget).find('.comments_scroll').tinyscrollbar_update('relative');
              $(annotationWidget).find('.comments_scroll_2').css({ 'height': (containerHeight - 152) + 'px' });
              $(annotationWidget).find('.comments_scroll_2 .viewport').css({ 'height': (containerHeight - 152) + 'px' });
              $(annotationWidget).find('.comments_scroll_2').tinyscrollbar_update('relative');
          }

          $('html').click(function () {
              if ($(annotationWidget).find('.dropdown_menu_button').hasClass('active')) {
                  $(annotationWidget).find('.dropdown_menu_button.active').next('.dropdown_menu').hide('blind', 'fast');
                  $(annotationWidget).find('.dropdown_menu_button.active').removeClass('active');
              }
          })
      }
  });


%div{:id=>"annotation-widget", :class=>"groupdocs_viewer_wrapper grpdx", :style=>"width:900px;height:500px;overflow:hidden;position:relative;margin-bottom:40px;margin-left:40px;margin-top:20px;background-color:gray;border:1px solid #ccc;"}







